In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
from sklearn import tree
import matplotlib.pyplot
import seaborn as sns
%matplotlib inline

In [2]:
df_train = pd.read_csv(r'C:\\Users\\Liaman\Downloads\dogs_n_cats.csv')

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df_train.head()

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

In [5]:
X_train = df_train.drop(['Вид'], axis=1) 
y_train = df_train['Вид']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.33, random_state=42)

In [7]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy')

In [8]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [9]:
df_test = pd.read_json(r'C:\\Users\\Liaman\Downloads\dataset_209691_15.txt')

In [10]:
df_test.head()

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      17    20.4         0        1                   0
1      23    27.6         1        1                   0
2      33    39.6         1        1                   0
3      22    26.4         1        1                   0
4      18    21.6         1        1                   0
..    ...     ...       ...      ...                 ...
95     11     4.4         1        0                   1
96     10     4.0         1        0                   1
97     11     4.4         1        0                   1
98     12     4.8         1        0                   1
99      8     3.2         1        0                   1

[100 rows x 5 columns]

In [11]:
X_test = df_test[['Длина', 'Высота', 'Шерстист', 'Гавкает','Лазает по деревьям']]

In [12]:
result = clf.predict(X_test)

In [13]:
pd.Series(result)[result == 'собачка'].count()

55